<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-current.dtd">
<suite name="eaapp Test Suite" verbose="2" parallel="tests" thread-count="1">
    
    <test name="Login Tests">
        <classes>
            <class name="com.eaapp.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Home Page Tests">
        <classes>
            <class name="com.eaapp.tests.HomePageTest"/>
        </classes>
    </test>

    <test name="Employee List Tests">
        <classes>
            <class name="com.eaapp.tests.EmployeeListTest"/>
        </classes>
    </test>

</suite>
